[submodule "2013-11-16-HALE/libraries/thelonious"]
	path = 2013-11-16-HALE/libraries/thelonious
	url = https://github.com/spectaclelabs/thelonious
[submodule "2013-11-16-HALE/libraries/elvin"]
	path = 2013-11-16-HALE/libraries/elvin
	url = https://github.com/spectaclelabs/elvin
[submodule "2013-11-16-HALE/libraries/miles"]
	path = 2013-11-16-HALE/libraries/miles
	url = https://github.com/spectaclelabs/miles
[submodule "2013-11-16-HALE/libraries/arduino"]
	path = 2013-11-16-HALE/libraries/arduino
	url = https://github.com/oampo/arduinocpp
[submodule "2013-11-16-HALE/libraries/FirmataC"]
	path = 2013-11-16-HALE/libraries/FirmataC
	url = https://github.com/jdourlens/FirmataC
